.checkout{

  .main-header{
    margin-bottom: 40px;
  }

  .main-content{
    padding-bottom: 40px;
  }
}

.col-form, .col-sum{
  position: relative;
  min-height: 1px;
  padding-left: $gutter;
  padding-right: $gutter;
  float: left;
}

.col-form{
  width: 100%;
  margin-bottom: 60px;

  @media (min-width: $sm){
    width: calc(100% - 275px);
    margin-bottom: 0;
  }
}

.col-sum{
  width: 100%;

  @media (min-width: $sm){
    width: 275px;
  }
}

/* ==========================================================================
   Checkout Summary
========================================================================== */

.checkout-sum__title{
  font-size: 1.375rem;
  letter-spacing: 0;
  margin-top: 0;
}

.checkout-sum__cost{
  border: 1px solid $light-gray;
  padding: 15px 20px;
  margin-bottom: 30px;

  hr{
    margin: 8px 0;
  }
}

.checkout-sum__total{
  font-size: 1.25rem;
  text-transform: uppercase;
}

.checkout-sum__route{
  border-bottom: 1px solid $light-gray;
  margin-bottom: 30px;
  padding-bottom: 30px;
  line-height: 1.3;

  &:last-child{
    border-bottom: 0;
  }

  h3{
    font-size: 1rem;
    margin-bottom: 5px;
    letter-spacing: 0;
    color: $blue;
  }
}

/* ==========================================================================
   Checkout Form
========================================================================== */

.checkout-form{

  @media (min-width: $md){
    padding-right: 60px;
  }

  label{
    display: block;
  }

  fieldset label{
    margin-right: 0;
  }

  input[type=submit]{
    float: right;
  }
}

.label-row-2, .label-row-3{
  @extend %clearfix;
  margin: 0 -10px;

  label{
    padding: 0 10px;
    float: left;
  }
}

.label-row-2{

  label{
    width: 100%;

    @media (min-width: $sm){
      width: 50%;
    }
  }
}

.label-row-3{

  label{
    width: 100%;

    @media (min-width: $sm){
      width: 33.33333%;
    }
  }
}

.payment__type-select{

  label{
    display: inline-block;
    margin-right: 15px !important;
  }
}

.disclaimer{
  font-size: 0.875rem;
  font-style: italic;
}

/* ==========================================================================
   Terms
========================================================================== */

.terms-content{
  height: 250px;
  overflow-y: scroll;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid $light-gray;
  font-size: 0.875rem;

  h1, h2, h3, h4, h5, h6{
    font-size: 1rem;
  }
}

.button--terms{
  float: right;
  font-size: 1rem;
}
