.pricing{
  text-align: center;
}

.pricing-intro{
  background-color: $darker-gray;
  color: $white;
  text-align: center;
  padding: 30px 0;

  h1{
    font-weight: $light;
    font-size: 2rem;
  }

  p{
    color: $blue;
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 0.25em;
  }
}

.pricing-intro-tri{
  width: 100%;
  height: 100px;
  margin-bottom: 20px;

  polygon{
    fill: $darker-gray;
  }
}

.pricing-table{
  border: 1px solid $light-gray;
  max-width: 700px;
  margin: 0 auto 80px;

  th, td{
    padding: 15px 30px;
  }

  thead, tfoot{
    font-size: 0.875rem;
  }

  tbody{

    th[colspan="3"]{
      text-transform: uppercase;
      background-color: $light-gray;
    }

    td:first-child{
      width: 100%;
    }
  }

  tfoot{

    tr{
      background-color: $light-gray;
    }
  }
}
