// Grid

$gutter: 15px;

// Breakpoints

$sm: 768px;

$md: 992px;

$lg: 1150px;

//Fonts

$main-font: "proxima-nova", "Opens Sans", helvetica, arial, sans-serif;
$light: 300;
$regular: 400;
$bold: 700;

//Colors

$blue: #2c4498;

$green: #a5cd39;

$black: #000;
$darker-gray: #212121;
$dark-gray: #424242;
$gray: #7f7f7f;
$light-gray: #d6d6d6;
$lighter-gray: #f7f7f7;
$white: #fff;
